@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;

  /* Color variables */
  --gradient: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));

  --lg-gr-violet: hsl(270, 3%, 87%);
  --dk-gr-violet: hsl(279, 6%, 55%);
  --dk-violet: hsl(278, 68%, 11%);
  --error: hsl(0, 100%, 66%);
}

body,
button,
input {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
}


#gradient-bg {
  background-color: var(--dk-violet);
  position: relative;
  width: 100vw;
  height: 34vh;
}



#cards-container {
  display: grid;
  place-items: center;
  padding-top: 32px;
  position: relative;
  filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.142481));
}

#front-card, #back-card {
  width: 286px; /*change it later*/
  /* width: 76%; */
  height: 157px;/* change it later */
  border-radius: 6px;
  color: white;
  position: absolute;
}

#front-card {
  background: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);
  top: calc(50% + 120px);
  /* top: 112px; */
  /* left: 16px; */
  left: calc(0% + 16px);
  z-index: 1;
}

.card-container {
  padding: 18px;
}

#logos {
  display: flex;
  align-items: center;
  gap: 10px;
}

#logos #circle-big {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
}

#logos #circle-small {
  width: 13.5px;
  height: 13.5px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

#card-number {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 2.2px;
  margin-top: 37px;;
}

#card-details {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}


#back-card {
  background: linear-gradient(168.73deg, #FFFFFF 5%, #D2D3D9 91.69%);
  padding-top: 15px;
  /* top: 32px; */
  top: calc(50% + 32px);
  /* right: 16px; */
  right: calc(0% + 16px);
}

#back-card #magnetic-stripe {
  width: 100%;
  height: 34.6px;
  background-color: #2F2F2F;
}

#back-card #card-cvv {
  background: #ADB5BE;
  border-radius: 4px;
  padding: 9px;
  width: 80%;
  margin: auto;
  margin-top: 15px;
  color: #FFFFFF;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  text-align: right;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
}

#form-bg {
  background-color: #FFFFFF;
  padding: 6.5rem 1.5rem;
  display: grid;
  place-items: center;
  outline: 1px solid red;
  z-index: 2;
}

form, fieldset, input, button {
  width: 100%;
  max-width: 381px;
}

form {
  display: grid;
  place-items: center; 
  gap: 1.25rem;
}

#inline-form {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

#inline-form fieldset {
  width: 50%;
}

#month, #year {
  width: 48%;
}
/* #inline-form input #cvv {
  min-width: 100px;
  width: 50%;
} */

input {
  padding: 11px;
}

button {
  padding: 15px;
  margin-top: 28px;
}

legend {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--dk-violet);
  margin-bottom: 0.56rem;
}

input[type="text"],
button {
  cursor: pointer;
  border-radius: 0.5rem;
}

input[type="text"] {
  border: 1px solid var(--lg-gr-violet);
}

input::placeholder {
  color: var(--lg-gr-violet);
}

button {
  color: white;
  background-color: var(--dk-violet);
  border: hidden; /* use instead of none for accessibility */
}

fieldset {
  border: hidden;
}

/* #front-card,
#back-card {
  background: var(--gradient);
  color: white;
} */

footer {
  font-size: 0.7rem;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  main {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #gradient-bg {
    width: 33vw;
    height: 100vh;
  }

  #cards-container {
    top: 20%; /* change this */
  }
  #form-bg {
    
    margin: auto;
  }
} 